# .obsidian/plugins/*/**
# !.obsidian/plugins/*/data.json

.obsidian/plugins/**/main.js

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
.makemd/

# Ignore Smart Environment folder
.smart-env

.obsidian/workspace*
.obsidian/copilot*
