.mb-button.green-button>button {
  background-color: rgb(0, 200, 83, 0.2);
}

.mb-button.green-1-button>button {
  background-color: rgb(0, 200, 83, 0.1);
}

.mb-button.green-2-button>button {
  background-color: rgb(0, 200, 83, 0.2);
}

.mb-button.green-3-button>button {
  background-color: rgb(0, 200, 83, 0.3);
}

.mb-button.green-4-button>button {
  background-color: rgb(0, 200, 83, 0.4);
}

.mb-button.green-5-button>button {
  background-color: rgb(0, 200, 83, 0.5);
}

.mb-button.green-6-button>button {
  background-color: rgb(0, 200, 83, 0.6);
}

.mb-button.green-7-button>button {
  background-color: rgb(0, 200, 83, 0.7);
}

.mb-button.green-8-button>button {
  background-color: rgb(0, 200, 83, 0.8);
}

.mb-button.green-9-button>button {
  background-color: rgb(0, 200, 83, 0.9);
}

.mb-button.green-10-button>button {
  background-color: rgb(0, 200, 83, 1);
}

.mb-button.orange-1-button>button {
  background-color: rgba(255, 145, 0, 0.1);
}

.mb-button.orange-2-button>button {
  background-color: rgba(255, 145, 0, 0.2);
}

.mb-button.orange-3-button>button {
  background-color: rgba(255, 145, 0, 0.3);
}

.mb-button.orange-4-button>button {
  background-color: rgba(255, 145, 0, 0.4);
}

.mb-button.orange-5-button>button {
  background-color: rgba(255, 145, 0, 0.5);
}

.mb-button.orange-6-button>button {
  background-color: rgba(255, 145, 0, 0.6);
}

.mb-button.orange-7-button>button {
  background-color: rgba(255, 145, 0, 0.7);
}

.mb-button.orange-8-button>button {
  background-color: rgba(255, 145, 0, 0.8);
}

.mb-button.orange-9-button>button {
  background-color: rgba(255, 145, 0, 0.9);
}

.mb-button.orange-10-button>button {
  background-color: rgba(255, 145, 0, 1);
}

.mb-button.turquoise-1-button>button {
  background-color: rgba(0, 191, 165, 0.1);
}

.mb-button.turquoise-2-button>button {
  background-color: rgba(0, 191, 165, 0.2);
}

.mb-button.turquoise-3-button>button {
  background-color: rgba(0, 191, 165, 0.3);
}

.mb-button.turquoise-4-button>button {
  background-color: rgba(0, 191, 165, 0.4);
}

.mb-button.turquoise-5-button>button {
  background-color: rgba(0, 191, 165, 0.5);
}

.mb-button.turquoise-6-button>button {
  background-color: rgba(0, 191, 165, 0.6);
}

.mb-button.turquoise-7-button>button {
  background-color: rgba(0, 191, 165, 0.7);
}

.mb-button.turquoise-8-button>button {
  background-color: rgba(0, 191, 165, 0.8);
}

.mb-button.turquoise-9-button>button {
  background-color: rgba(0, 191, 165, 0.9);
}

.mb-button.turquoise-10-button>button {
  background-color: rgba(0, 191, 165, 1);
}

.mb-button.blue-1-button>button {
  background-color: rgba(68, 138, 255, 0.1);
}

.mb-button.blue-2-button>button {
  background-color: rgba(68, 138, 255, 0.2);
}

.mb-button.blue-3-button>button {
  background-color: rgba(68, 138, 255, 0.3);
}

.mb-button.blue-4-button>button {
  background-color: rgba(68, 138, 255, 0.4);
}

.mb-button.blue-5-button>button {
  background-color: rgba(68, 138, 255, 0.5);
}

.mb-button.blue-6-button>button {
  background-color: rgba(68, 138, 255, 0.6);
}

.mb-button.blue-7-button>button {
  background-color: rgba(68, 138, 255, 0.7);
}

.mb-button.blue-8-button>button {
  background-color: rgba(68, 138, 255, 0.8);
}

.mb-button.blue-9-button>button {
  background-color: rgba(68, 138, 255, 0.9);
}

.mb-button.blue-10-button>button {
  background-color: rgba(68, 138, 255, 1);
}

.mb-button.purple-1-button>button {
  background-color: rgba(124, 77, 255, 0.1);
}

.mb-button.purple-2-button>button {
  background-color: rgba(124, 77, 255, 0.2);
}

.mb-button.purple-3-button>button {
  background-color: rgba(124, 77, 255, 0.3);
}

.mb-button.purple-4-button>button {
  background-color: rgba(124, 77, 255, 0.4);
}

.mb-button.purple-5-button>button {
  background-color: rgba(124, 77, 255, 0.5);
}

.mb-button.purple-6-button>button {
  background-color: rgba(124, 77, 255, 0.6);
}

.mb-button.purple-7-button>button {
  background-color: rgba(124, 77, 255, 0.7);
}

.mb-button.purple-8-button>button {
  background-color: rgba(124, 77, 255, 0.8);
}

.mb-button.purple-9-button>button {
  background-color: rgba(124, 77, 255, 0.9);
}

.mb-button.purple-10-button>button {
  background-color: rgba(124, 77, 255, 1);
}

.mb-button.yellow-orange-1-button>button {
  background-color: rgba(217, 181, 0, 0.1);
}

.mb-button.yellow-orange-2-button>button {
  background-color: rgba(217, 181, 0, 0.2);
}

.mb-button.yellow-orange-3-button>button {
  background-color: rgba(217, 181, 0, 0.3);
}

.mb-button.yellow-orange-4-button>button {
  background-color: rgba(217, 181, 0, 0.4);
}

.mb-button.yellow-orange-5-button>button {
  background-color: rgba(217, 181, 0, 0.5);
}

.mb-button.yellow-orange-6-button>button {
  background-color: rgba(217, 181, 0, 0.6);
}

.mb-button.yellow-orange-7-button>button {
  background-color: rgba(217, 181, 0, 0.7);
}

.mb-button.yellow-orange-8-button>button {
  background-color: rgba(217, 181, 0, 0.8);
}

.mb-button.yellow-orange-9-button>button {
  background-color: rgba(217, 181, 0, 0.9);
}

.mb-button.yellow-orange-10-button>button {
  background-color: rgba(217, 181, 0, 1);
}


.mb-button.red-1-button>button {
  background-color: rgba(255, 50, 23, 0.1);
}

.mb-button.red-2-button>button {
  background-color: rgba(255, 50, 23, 0.2);
}

.mb-button.red-3-button>button {
  background-color: rgba(255, 50, 23, 0.3);
}

.mb-button.red-4-button>button {
  background-color: rgba(255, 50, 23, 0.4);
}

.mb-button.red-5-button>button {
  background-color: rgba(255, 50, 23, 0.5);
}

.mb-button.red-6-button>button {
  background-color: rgba(255, 50, 23, 0.6);
}

.mb-button.red-7-button>button {
  background-color: rgba(255, 50, 23, 0.7);
}

.mb-button.red-8-button>button {
  background-color: rgba(255, 50, 23, 0.8);
}

.mb-button.red-9-button>button {
  background-color: rgba(255, 50, 23, 0.9);
}

.mb-button.red-10-button>button {
  background-color: rgba(255, 50, 23, 1);
}

.mb-button.orange-1-button>button {
  background-color: rgba(255, 145, 0, 0.1);
}

.mb-button.orange-2-button>button {
  background-color: rgba(255, 145, 0, 0.2);
}

.mb-button.orange-3-button>button {
  background-color: rgba(255, 145, 0, 0.3);
}

.mb-button.orange-4-button>button {
  background-color: rgba(255, 145, 0, 0.4);
}

.mb-button.orange-5-button>button {
  background-color: rgba(255, 145, 0, 0.5);
}

.mb-button.orange-6-button>button {
  background-color: rgba(255, 145, 0, 0.6);
}

.mb-button.orange-7-button>button {
  background-color: rgba(255, 145, 0, 0.7);
}

.mb-button.orange-8-button>button {
  background-color: rgba(255, 145, 0, 0.8);
}

.mb-button.orange-9-button>button {
  background-color: rgba(255, 145, 0, 0.9);
}

.mb-button.orange-10-button>button {
  background-color: rgba(255, 145, 0, 1);
}