/* Styles pour les callouts avec défilement */
.markdown-preview-view .callout {
  max-height: 800px;
  /* Définir la hauteur maximale souhaitée */
  overflow-y: auto;
  /* Activer le défilement vertical */
  padding: 10px;
  /* Ajouter un padding pour améliorer l'apparence */
  border: 1px solid #ccc;
  /* Ajouter une bordure pour améliorer la visibilité */
}

.markdown-source-view .callout {
  max-height: 2200px;
  /* Définir la hauteur maximale souhaitée */
  overflow-y: auto;
  /* Activer le défilement vertical */
  padding: 10px;
  /* Ajouter un padding pour améliorer l'apparence */
  border: 1px solid #ccc;
  /* Ajouter une bordure pour améliorer la visibilité */
}